@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #383838;
    --color-dark: #212121;
    --color-darker: #292929;
    --color-gray: #6a6a6a;
    --color-bright: #a3a3a3;
    --color-white: #e9e9e9;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



@font-face {
  font-family: "Pt-bold";
  src: url(../assets/fonts/PTSans-Bold.ttf);
}

@font-face {
  font-family: "Pt-regular";
  src: url(../assets/fonts/PTSans-Regular.ttf)
}

@font-face {
  font-family: "Pt-bold-italic";
  src: url(../assets/fonts/PTSans-BoldItalic.ttf);
}

@font-face {
  font-family: "Pt-regular-italic";
  src: url(../assets/fonts/PTSans-Regular.ttf);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}